// Media queries
@mixin large { @media (max-width: 992px) { @content; } }
@mixin medium { @media (max-width: 767px) { @content; } }
@mixin small { @media (max-width: 480px) { @content; } }

// RTL
@mixin rtl { [dir="rtl"] & { @content; } }

// Errors
@mixin error-message {
    display: block;
    color: $color-alert;
    font-size:ms(-2);
    padding: sp(1) 0;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: sp(5);
    line-height: sp(2);
}

@mixin helper-message {
    display: block;
    font-size:ms(-2);
    padding: sp(1) 0;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: sp(5);
    line-height: sp(2);
}